@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Chelsea+Market&family=Indie+Flower&family=Open+Sans&family=Roboto:wght@700&display=swap');

$font-site: 'Open Sans', sans-serif;
$font1: 'Anton', sans-serif;
$font2: 'Bangers', cursive;
$font3: 'Chelsea Market', cursive;
$font4: 'Indie Flower', cursive;
$font5: 'Roboto', sans-serif;