// Gerais
@import '_reset.scss';
@import '_bootstrap.scss';
@import '_responsividade.scss';
@import '_colors.scss';
@import '_font.scss';

body {
    background-color: $color-secondary;    
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app {
    font-family: $font-site;      
}

.container-fluid {
    max-width: 90%;    
}

// Header
.header {        
    .header__title {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0px;
        color: $color-text-primary;
        background-color: $color-header;
    }
}

// Form
.form {
    height: 800px;
    @include device(desktop) {
        height: 540px;
    }
    background-color: $color-background;
    .form__img {
        max-width: 100%;
        padding: 50px 0;
    }
    .form__inputs {
        height: 400px;
        border-radius: 10px;
        background-color: $color-secondary;
        label {
            color: $color-text-primary;
        }
    }
}

// Generator Img
.generator {
    padding: 10px 0;
    text-align: center;
    color: $color-text-primary;
    background-color: $color-background;
    .ativo {
        display: none;
    }
    .generator__img {
        img {
            max-width: 100%;
        }
        .generator__img__name {
            z-index: 10;
            font-size: 2rem;
            color: white;
            margin-top: -50px;      
        }
    }
    .generator__info {
        margin-top: 50px;
    }
}

// Footer
.footer {
    margin-top: auto;
    background-color: $color-secondary;    
    .footer__title {
        text-align: center;
        color: $color-text-primary;
        padding: 10px;
        margin-bottom: 0;
    }
}